.alert-error {
  @extend .alert-danger;
}
.alert-notice {
  @extend .alert-info;
}
.alert-alert {
  @extend .alert-warning;
}


.media-left {
    display: table-cell;
    vertical-align: top;
    padding-right: 10px;
}



.media-body {
   display: table-cell;
    vertical-align: top;
    width: 10000px;
}


a.inherit_style, a.inherit_style:hover, a.inherit_style:visited {
  color: inherit;
  text-decoration: inherit;
}


.container {

	width: 853px;
}


.page-title {
  text-align: center;
}
